.card {
  &__content {
    ol,
    ul {
      margin-left: 0 !important;
      gap: 0 !important;
      padding-left: 1rem !important;

      li {
        &::marker {
          @apply tw-text-purple-350 #{!important};
        }
      }

      li,
      p {
        font-weight: 400 !important;

        span {
          font-weight: 400 !important;
        }
      }
    }
  }
}
